@import 'assets/styles/variables';
@import 'assets/styles/mixins/animations';
@import 'assets/styles/mixins/vendor-prefixes';

.main {
  height: 100%;

  &__container {
    background-color: $color-black;
    height: 100%;
    margin-bottom: 0px;
    position: relative;

    &__jumbotron {
      background-color: transparent !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .heading {
        color: $color-white;
        text-align: center;
      }
    }
  }
}