@import 'assets/styles/variables';
@import 'assets/styles/mixins/animations';
@import 'assets/styles/mixins/vendor-prefixes';

.jumbotron {

  .heading {
    color: $color-white;
    font-size: 3rem;
    line-height: 3.2rem;
    text-align: center;
  }
}