@import 'assets/styles/variables';

.cookie-notification {
  padding: 1rem 0 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &__message {
      color: lighten($color-white, 20%);
      flex: 0 1 auto;
      margin: 0 1rem 0 0;
      text-align: center;
    }

    &__button {
      flex: 0 1 auto;
    }
  }
}