@import './_variables';
@import './mixins/_mixins';
@import './components/_buttons';
@import './components/_headings';
@import './components/_icons';
@import './components/_jumbotrons';
@import './components/_lists';
@import './helpers/_textual';

@include font-face('Raleway', '../fonts/raleway/raleway-regular', null, null, eot woff ttf svg);
@include font-face('Raleway Semi Bold', '../fonts/raleway/raleway-semi-bold', null, null, eot woff ttf svg);

html,
body {
  background-color: $color-black;
  color: $color-black;
  font-family: 'Raleway', arial, sans-serif;
  height: 100%;
  letter-spacing: .1rem;

  @include for-phone-only {
    font-size: 12px;
  }

  @include for-tablet-portrait-up {
    font-size: 14px;
  }

  @include for-tablet-landscape-up {
    font-size: 16px;
  }
}

a {
  color: $brand-primary;

  &:hover,
  &:focus {
    color: inherit;
  }
}

#root {
  height: 100%;
}